<div class="admincontainer">
    <div class="admin">
    <h2>Administrar</h2>
    <hr>
    <h3>Editar</h3>
    <form id="form" action="/image" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Titulo">
        <input type="text" name="description" placeholder="Descripcion">
        <input type="file" name="image">
        <button type="submit" id="btn">Enviar</button>
    </form>
    <a href="/logout" id="btnback">Portada</a>
    <a href="/logout" id="btnlogout">Cerrar Sesion</a>
</div>
<div class="crud">
    <table>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each photos}}
        <tr>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>
            <a href="{{imageURL}}" target="_blank" class="btn-crud">Ver</a>
            <a href="/images/delete/{{_id}}" class="btn-crud">Borrar</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>
</div>
<script src="/public/js/script.js"></script>
<script src="/public/js/jquery-3.4.1.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>