<main>
    <section class="team container" id="team">
        <h3>Nuestro Trabajo</h3>
        <p class="after">Somos una empresa ubicada en la ciudad de Caldera dedicada al reciclaje de neumáticos, reutilizándolos y transformándolos en bellos muebles que dan un toque nuevo a su hogar. Siendo conscientes de la situación de contaminación de generan los neumáticos, y las pocas opciones existentes de reciclarlos, hemos nacido como una alternativa que logra unir dos mundos totalmente opuestos; los neumáticos y el diseño sustentable. Nuestros productos son elaborados con altos estándares, creando un producto final de finas terminaciones y con telas de una gran calidad.</p>
    </section>
    <section class="about" id="service">
        <div class="container">
            <h3 class="sub">Nuestros Servicios</h3>
            <p class="after">Siempre mejorando para ustedes</p>
            <div class="services">
                <div class="box-services">
                    <img src="/public/img/edit.png" alt="hearth" style="height: 4rem; width: 4rem">
                    <h4>Diseños Personalizados</h4>
                    <p>Diseños a tu medida</p>
                </div>
                <div class="box-services">
                    <img src="/public/img/light-bulb.png" alt="responsive" style="height: 4rem; width: 4rem">
                    <h4>Presupuestos a la Medida</h4>
                    <p>Presupuestos reales</p>
                </div>
                <div class="box-services">
                    <img src="/public/img/forest.png" alt="efects" style="height: 4rem; width: 4rem">
                    <h4>Materiales de Calidad</h4>
                    <p>Los mejores materiales para ti</p>
                </div>
            </div>
        </div>
    </section>
    <section class="work container" id="work">
        <h3>Galeria</h3>
        <p class="after">Algunos de nuestros productos</p>
        <div class="bottons-work">
            <ul>
                <li class="filter active" data-name='todos'>Colecciones</li>
            </ul>
        </div>
        <div class="gallery-work">
            {{#each photos}}
                <div class="cont-work programacion">
                    <div class="img-work">
                        <img src="{{imageURL}}" alt="ecopuff">
                    </div>
                    <div class="texts-work">
                        <h4>{{title}}</h4>
                    </div>
                </div>
            {{/each}}
           
        </div>
    </section>
</main>
<footer id="contact">
    <div class="footer container">
        <div class="marc logo">
            <img src="/public/img/bean-bag.png" alt="logo">
        </div>
        <div class="icons">
            <a href="https://wa.me/56996954702"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/Ecopuff-Sustentables-Mr-323244038360487/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <i class="fab fa-instagram"></i>
        </div>
        <p>Contactanos por nuestras redes sociales</p>
    </div>
</footer>
<script src="/public/js/jquery-3.4.1.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/filter.js"></script>
</body>
</html>