<main>
    <h1>Ecopuff</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minus sequi illum fuga repellendus eaque et iste, porro sunt nihil adipisci,
        laudantium provident voluptate distinctio! Odit molestias atque consequuntur minus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quo illum voluptates, cum minus aspernatur non repellat quisquam sapiente modi eligendi 
        voluptatum a aperiam voluptas doloribus atque autem ut aliquam.
    </p>
</main>

<section>
    <div class="service1">
        <img src="">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, magni incidunt. 
        </p>
    </div>
    <div class="service2">
        <img src="">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, magni incidunt. 
        </p>
    </div>
    <div class="service3">
        <img src="">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, magni incidunt. 
        </p>
    </div>
    <div class="service4">
        <img src="">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, magni incidunt. 
        </p>
    </div>
</section>

<article>

</article>

<footer>
    <h1>Contactanos</h1>
    <form>
        <input type="text" placeholder="Correo">
        <textarea rows="2"></textarea>
    </form>
    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/Ecopuff-Sustentables-Mr-323244038360487/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="https://github.com/Giovanky" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/amorfadiccion" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
        </ul>
    </div>
</footer>