<div id="formulario">
    <h2>Registrate</h2>
<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Inserte Email">
    <input type="password" name="password" placeholder="Inserte Contraseña">
    <button type="submit" id="btn-login">Enviar</button>
</form>
</div>
<script src="/public/js/jquery-3.4.1.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/filter.js"></script>
</body>
</html>